* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

input[type=button],
button {
  border: none;
  color: #fff;
  cursor: pointer;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
body header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  background: linear-gradient(to bottom, #b6ce4e, #73a110);
}
body header .logo {
  margin: 0 1rem;
}
body header nav {
  font-size: 12px;
}
body header nav .ham-b {
  display: none;
}
body header nav .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
body header nav .menu li {
  height: inherit;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
body header nav .menu li input {
  padding: 0.4rem 1rem;
}
body header nav .menu li input::placeholder {
  font-size: 12px;
}
body header nav .menu li input[type=button] {
  background-color: #008cba;
  padding: 0.5rem 2rem;
}
body header nav .menu li a {
  height: inherit;
  padding: 1rem;
}
body header nav .menu .last-link {
  margin-left: 5rem;
}
body header nav .menu .dropdown {
  position: relative;
}
body header nav .menu .dropdown i {
  opacity: 50%;
  text-align: center;
  padding-left: 5px;
}
body header nav .menu .dropdown .dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 3rem;
  left: 0;
  width: 8.3rem;
}
body header nav .menu .dropdown .dropdown-content li {
  display: flex;
  align-items: center;
  height: 3rem;
  width: inherit;
  background: linear-gradient(to bottom, #b6ce4e, #83b31a);
  border: 1px solid #83b31a;
  white-space: nowrap;
}
body header nav .menu .dropdown .dropdown-content li a {
  height: inherit;
  width: 100%;
  display: inline-block;
  text-align: left;
  padding: 1 1.5rem;
}
body header nav .menu .dropdown .dropdown-content-3 {
  width: 11rem;
}
body header nav .menu .dropdown:hover .dropdown-content {
  display: flex;
}
body main {
  width: 80%;
  margin: 0 auto;
}
body main h1 {
  font-size: 2.8rem;
  font-weight: 500;
  margin: 0.8rem;
}
body main .hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffcc99;
  padding: 1rem 2rem 2rem 1rem;
  border: 3px solid #ffa449;
  border-radius: 10px;
  font-size: 18px;
}
body main .hero form {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 0.5rem 2rem 1rem 0.5rem;
}
body main .hero form input[type=text] {
  width: 82%;
  padding: 0.7rem 8rem 0.7rem 1rem;
  border: none;
}
body main .hero form input[type=button] {
  background-color: #008cba;
  padding: 1.2rem 2.2rem;
  margin: 0 0 0 2rem;
  align-self: baseline;
}
body main .hero .hero_extras {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 2rem 1rem 0.5rem;
}
body main .hero .hero_extras input[type=button] {
  background-color: #008cba;
  padding: 1.2rem 2.4rem;
  margin: 0 0 0 2rem;
  align-self: baseline;
}
body main .ads-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 1rem auto;
}
body main .ads-cont .ad-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body main .ads-cont .ad-header span {
  width: 20%;
}
body main .ads-cont .ad-header span img {
  width: 95%;
  margin: 0 auto;
}
body main .ads-cont .ad-header .box {
  display: flex;
  width: 80%;
  padding: 5px;
  background-color: #ffc44a;
  border-radius: 5px;
}
body main .ads-cont .ad-header .box form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body main .ads-cont .ad-header .box form input {
  padding: 0.4rem 0.2rem;
  border: none;
  border-radius: 5px;
}
body main .ads-cont .ad-header .box form .date-cont {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 5px;
}
body main .ads-cont .ad-header .box form .date-cont hr {
  height: 20px;
  margin: auto;
}
body main .ads-cont .ad-header .box form .date-cont input[type=date] {
  border-radius: 5px;
  color: #0896ff;
  padding: 0.4rem 0.1rem;
}
body main .ads-cont .ad-header .box form button {
  background-color: white;
  padding: 2px;
  border-radius: 5px;
}
body main .ads-cont .ad-header .box form button input {
  background-color: #0896ff;
  color: white;
  border-radius: 0%;
  padding: 0.4rem;
}
body main .ads-cont .ad-header .box .guest-btn {
  margin-left: 3.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 0.5px solid #fff;
  box-shadow: #ddd 1px 1px;
  background-color: #ffc144;
  color: #838383;
}
body main .ads-cont .ad-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}
body main .ads-cont .ad-body .grid-item {
  height: 235px;
  color: white;
  font-size: 12px;
}
body main .ads-cont .ad-body .grid-item .item {
  background-color: rgba(0, 0, 0, 0.6470588235);
  width: max-content;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
body main .ads-cont .ad-body .grid-item .item small {
  font-size: 14px;
}
body main .ads-cont .ad-body .item1 {
  background-image: url(./img/item1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .ads-cont .ad-body .item1 span {
  background-image: url(./img/norway.png);
  width: 25px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
body main .ads-cont .ad-body .item2 {
  background-image: url(./img/item2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .ads-cont .ad-body .item2 span {
  background-image: url(./img/france.png);
  width: 25px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
body main .ads-cont .ad-body .item3 {
  background-image: url(./img/item3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .ads-cont .ad-body .item3 span {
  background-image: url(./img/united-kingdom.png);
  width: 25px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
body main .ads-cont .ad-body .item4 {
  display: flex;
  flex-direction: column;
}
body main .ads-cont .ad-body .item4 div {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  color: #5579ac;
  background-color: #edf1f6;
  font-size: 15px;
}
body main .ads-cont .ad-body .item4 div small {
  color: #838383;
}
body main .ads-cont .ad-body .item4 div:hover {
  background-color: #fff;
}
body main .ads-cont .ad-body .item4 .country1 span {
  background-image: url(./img/norway.png);
  width: 15px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
body main .ads-cont .ad-body .item4 .country2 span {
  background-image: url(./img/france.png);
  width: 15px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
body main .ads-cont .ad-body .item4 .country3 span {
  background-image: url(./img/united-kingdom.png);
  width: 15px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
body main .ads-cont .ad-body .item4 .country4 span {
  background-image: url(./img/norway.png);
  width: 15px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
body main .ads-cont .ad-body .item4 .country5 span {
  background-image: url(./img/italy.png);
  width: 15px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
body main .ads-cont .ad-body .item4 .country6 span {
  background-image: url(./img/greece.png);
  width: 15px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
body main .ads-cont .ad-body .item4 .country7 span {
  background-image: url(./img/italy.png);
  width: 15px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
body main .ads-cont .ad-body .item4 .country8 span {
  background-image: url(./img/france.png);
  width: 15px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
body main .ads-cont .ad-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  margin-top: 2px;
}
body main .ads-cont .ad-footer .footer-grid {
  display: flex;
  flex-direction: row-reverse;
  font-size: 12px;
  color: #838383;
}
body main .ads-cont .ad-footer .footer-grid button {
  width: 100%;
  background-color: #fff;
  padding: 3px;
  border: 1px solid #838383;
  border-radius: 5px;
  font-size: 16px;
}
body main .ads-cont .ad-footer .footer-grid button a {
  display: flex;
  background-color: #0896ff;
  width: 100%;
  padding: 5px 3rem;
}
body main .ads-cont .ad-footer .footer-grid button a:hover {
  background-color: #003277;
}
body main .ads-cont .ad-footer .footer-grid button a i {
  margin-right: 10px;
}
body main .randomNums-cont {
  width: 98%;
  display: flex;
  flex-direction: column;
}
body main .randomNums-cont h1 {
  font-size: 2.5rem;
}
body main .randomNums-cont .randomNums {
  width: 98%;
}
body main .randomNums-cont .randomNums a {
  background-color: #ddd;
  display: inline-block;
  margin: 3px 5px;
  padding: 5px 0;
  text-align: center;
  width: max-content;
  color: #008cba;
}
body main .randomNums-cont .randomNums .set1 {
  font-size: 31px;
}
body main .randomNums-cont .randomNums .set2 {
  margin-top: 0;
  font-size: 16px;
}
body main .FQAs {
  width: 98%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
  background-color: #f2f2f2;
}
body main .FQAs p {
  padding: 10px;
  color: #838383;
}
body main .FQAs p span {
  color: #000;
}
body main .FQAs .fqa-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #d1d1d1;
  width: 95%;
  margin: 15px auto;
  padding: 5px;
  background-color: #fff;
}
body main .FQAs .fqa-menu li {
  text-align: left;
  border: 1px solid #d1d1d1;
  width: 100%;
}
body main .FQAs .fqa-menu li:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
body main .FQAs .fqa-menu li:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
body main .FQAs .fqa-menu li h3 {
  background-color: #f2f2f2;
  padding: 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
body main .FQAs .fqa-menu li a {
  width: inherit;
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 20px;
  padding: 15px;
}
body footer {
  width: 100%;
}
body footer .main-footer {
  background-color: #333;
  padding: 40px 0;
}
body footer .main-footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
}
body footer .main-footer .footer-grid ul {
  margin: 0 20px 20px 20px;
}
body footer .main-footer .footer-grid ul li {
  padding: 5px;
}
body footer .extr-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body footer .extr-footer p {
  padding: 10px;
}
body footer .extr-footer p a {
  color: #008cba;
}

@media (max-width: 700px) {
  body header {
    justify-content: space-between;
    padding: 15px;
  }
  body header .logo {
    margin: 0;
  }
  body header nav .ham-b {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
  }
  body header nav .ham-b i {
    font-size: 25px;
  }
  body header nav .menu {
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: max-content;
    flex-direction: column;
    transition: all 2s ease-in-out;
  }
  body header nav .menu li {
    background: linear-gradient(to bottom, #b6ce4e, #83b31a);
    border: 1px solid #83b31a;
    margin: 0;
    width: 100%;
  }
  body header nav .menu .first-link {
    margin: 0;
    padding: 10px;
  }
  body header nav .menu .first-link input[type=text] {
    width: 80%;
  }
  body header nav .menu .last-link {
    margin: 0;
  }
  body header nav .menu .dropdown {
    transition: transform 1s ease-in-out;
  }
  body header nav .menu .dropdown .dropdown-content {
    transition: transform 2s ease-in-out;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(100%);
    z-index: 100000;
  }
  body header nav .menu .dropdown:hover {
    transform: translateX(-100%);
    z-index: 0;
  }
  body header nav .menu-active {
    display: flex;
  }
  body main {
    width: 100%;
  }
  body main h1 {
    font-size: 1.8rem;
    width: 70%;
  }
  body main .hero {
    padding: 0.5rem 0;
  }
  body main .hero form {
    flex-direction: column;
  }
  body main .hero form input[type=text] {
    width: 100%;
    margin: 10px;
  }
  body main .hero .hero_extras {
    flex-direction: column;
    text-align: right;
  }
}